*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: color-mix(in srgb, blue 65%, white 35%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: black;
    font-family: 'Poppins', sans-serif;
}

input{
    background: color-mix(in srgb, blue 35%, white 65%);
}

input[type="radio"] {
    accent-color: color-mix(in srgb, blue 35%, white 65%);
}

button{
    background: color-mix(in srgb, blue 35%, white 65%);
}

h5{color: black}

main{
    margin-top: 5rem;
    margin-bottom: 2.75rem;
}

header{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    transition: all 0.5s ease-in-out;
}

.container-fluid{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: color-mix(in srgb, blue 25%, white 75%);
    height: 6rem;
    z-index: 1000;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
a:hover{
    color: blue;
}


.logo h1 {
    font-size: 2.45rem;
    font-family: 'Soria', serif;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
} 
.logo h1:hover{ 
    color: black;
}

.logo{
    display: flex;
    align-items: center;
}

.logoimg{
    height: 2.8rem;
}

@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }
}
.navmenu{
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1199px) {
  .mobile-nav-toggle {
    font-size: 1.75rem;
    line-height: 0;
    margin-right: 0.7rem;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 3.75rem 1.25rem 1.2rem 1.25rem;
    padding: 0.7rem 0;
    margin: 0;
    border-radius: 6px;
    box-shadow: none;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .mobile-nav-toggle {
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    margin-right: 0;
    z-index: 9999;
  }

  .navmenu>ul {
    display: block;
  }
}

li{
    display: inline-block;
    margin-right: 30px;
    font-size: 19px;
} 

li:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px; 
    text-decoration-color: blue;
    transform: scale(1.2);
}

.twitter-x-img, 
.instagram-img,
.facebook-img,
.linkedin-img{
    height: 20px;
}

.header-social-links{
    position: absolute;
    right: 20px;
}


@media (max-width: 1200px) {
    .logo {
        order: 1;
    }

    .header-social-links {
        order: 2;
    }

    .navmenu {
        order: 3;
    }
}

/* Footer */

.footer {
  justify-content: center;
  align-items: center;
  background: color-mix(in srgb, blue 25%, white 75%);
  font-size: 5rem;
  padding: 1rem;
  height: 5rem fit-content;
}

.copyright-text-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright-text-center p {
  font-size: large;
  font-family: "Poppins",  sans-serif;
}

.copyright-container{
  align-items: center;
  justify-content: center;
}

.footer-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  transition: 0.3s;
}

.twitter-x-img-f,
.instagram-img-f,
.facebook-img-f,
.linkedin-img-f{
    height: 1.25rem;
}

.footer-social-links a:hover {
  border-color: blue;
  background: color-mix(in srgb, blue 80%, white 20%);
}

.credits {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
  font-family: "Poppins",  sans-serif;
}
.credits b{
  text-decoration: underline;
}

@media( max-width: 600px) {
    .footer{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        flex-wrap: wrap;
    }
}
/* Footer */