/* Home Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   display: grid;
   flex-direction: column;
   width: 100%;
   height: 100vh;
   margin: 0;
}



.header{
    display: flex;
    align-items: center;
    padding: 2rem 0;
    transition: all 0.5s ease-in-out;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: fit-content;
    background: color-mix(in srgb, blue 25%, white 75%);
    z-index: 1000;
    justify-content: space-between;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation links */
.navlinks {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navlinks a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

/* .container-fluid{
    
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} */

a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
a:hover{
    color: blue;
}


.logo h1 {
    font-size: 2%rem;
    font-family: 'Soria', serif;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
} 
.logo h1:hover{ 
    color: black;
}

.logo{
    display: flex;
    align-items: center;
}
.logolink{
    display: flex;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 0;
}

.logoimg{
    height: 2rem;
    width: 2rem;
}

@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }
}
.navmenu{
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .navbar {
    padding: 1rem 4%;
  }

  .navlinks {
    gap: 1.5rem;
  }

  .navlinks a {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.8rem 5%;
  }

  .navlinks {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 1.5rem 0;
  }

  .navlinks a {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.7rem 4%;
    height: fit-content;
  }

  .navlinks{
    height: auto;
    padding: 0.4rem 0;
    gap: 0.5rem;
  }
  .navlinks a {
    font-size: 0.8rem;
  }

  .navbar h1{
    font-size: 1.5rem;
  }
}

li{
    display: inline-block;
    margin-right: 1.875rem;
    font-size: 1.2rem;
} 

li:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.007rem; 
    text-decoration-color: blue;
    transform: scale(1.2);
}

.twitter-x-img, 
.instagram-img{
    height: 1.25rem;
}

.header-social-links{
    position: absolute;
    top: 40%;
    right: 0;
}


@media (max-width: 1200px) {
    .logo {
        order: 1;
    }

    .header-social-links {
        order: 2;
    }

    .navmenu {
        order: 3;
    }

    ul{
      order: 4;
    }
}

.main{
  padding-bottom: 0;
  margin-bottom: 0;
  flex-grow: 1;
  height: 100%;
}


.section-container{
    width: 100%;
    min-height: calc(100vh - 5.1rem);
    position: relative;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    height: fit-content;
}

.section{
  padding: 3.75 0;
  scroll-margin-top: 6.25rem;
  overflow: clip;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 100%;
  margin-top: 6rem;
}

@media (max-width: 1199px) {
    section{
        scroll-margin-top: 4.125rem;
    }
}

@media (max-width: 1200px) {
  .section-container {
    min-height: calc(100vh - 4.25rem);
  }
}

.bg-img{
    position: absolute;
    background-size: cover;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}


h2{
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    margin: 0.625rem 0 0 0;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    display: inline-block;
    padding: 0.9rem 1.56rem;
    border-radius: 3.125rem;
    transition: 0.5s;
    margin-top: 0.9rem;
    background-color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button:hover{
    background: color-mix(in srgb, blue 80%, white 20%);
    color: white;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.125rem;
    }
}


/* Home Page */




/* Footer */
footer{
  margin-top: -2.5%;
  padding-top: 0;
  flex-shrink: 0;
  height: 3.75rem;
  height: fit-content;
}

.footer {
  justify-content: center;
  align-items: center;
  background: color-mix(in srgb, blue 25%, white 75%);
  font-size: 0.875rem;
  padding: 1.875rem;
  position: sticky;
  height: fit-content;
}

.copyright-text-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright-text-center p {
  font-size: large;
  font-family: "Poppins",  sans-serif;
}

.copyright-container{
  align-items: center;
  justify-content: center;
}

.footer-social-links {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
 
  margin: 0 0.3rem;
  transition: 0.3s;
}

.twitter-x-img-f,
.instagram-img-f,
.facebook-img-f,
.linkedin-img-f{
    height: 1.25rem;
}

.footer-social-links a:hover {
  border-color: blue;
  background: color-mix(in srgb, blue 80%, white 20%);
}

.credits {
  margin-top: 0.625rem;
  font-size: 0.9rem;
  text-align: center;
  font-family: "Poppins",  sans-serif;
  color: black;
}
.credits b{
  text-decoration: underline;
}
/* Footer */


/* Members Page */

.members-main{
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: grid;
  place-items: center;
  position: relative;
}

.members {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
    gap: 1.56rem;
    padding: 1.25rem;
}

.member-card {
    background: color-mix(in srgb, blue 25%, white 75%);
    border: 0.2rem solid color-mix(in srgb, blue 60%, white 40%);
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.9rem;
    
}
.member-card:hover {
    animation: ease-in-out;
    transform: scale(1.1);
    border-color: #00d4ff;
}
.member-card img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.625rem;
}
body{
    background:  color-mix(in srgb, blue 60%, white 40%);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
}

.heading{
    text-align: center;
    margin-top: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: color-mix(in srgb, blue 25%, white 75%);
    width: 15.6rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    align-items: center;
    margin: auto;
    text-decoration: underline;
}
.member-name {
    font-size: 1.2rem;
    margin: 0.625rem 0 0.3 0;
    font-weight: bold;
}
.member-role {
    font-size: 1rem;
    color: #888888;
}
p{
    color: black;
    
}
h1{
    color: black;
}
h3{
    color: black;
}
/* Members Page */



/* About Page */

.about-main{
    padding: 2rem;
    margin-top: 5rem;
}


.orderedlist{
  display: flex;
  flex-direction: column;
  color: black;
}
/* About Page */


/* Images Page */
.images-main{
  display: grid;
  padding: 1.25rem;
  margin-top: 5rem;
  place-items: center;
  margin-bottom: 4rem;
}

.images-main h1{
    text-decoration: underline;
    text-align: center;
    margin-top: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: color-mix(in srgb, blue 25%, white 75%);
    width: 25rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin: auto;
}

.images{
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto 1fr auto;
  gap: 1.56rem;
  margin-top: 3rem;
}

.image{
  height: 25rem;
  width: 25rem;
  border: solid color-mix(in srgb, blue 25%, white 75%) 0.5rem;
  border-radius: 0.75rem;
}